/* elements */
body, select, input, textarea {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px; }

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }
  .item-page h1, .item-page h2, .item-page h3, .item-page h4, .item-page h5, .item-page h6 {
    margin-top: 0; }

h1 {
  font-family: "alternate-gothic-no-1-d";
  font-size: 48px;
  font-weight: normal;
  color: #87b161;
  line-height: 1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  margin-bottom: 14px; }

h2 {
  font-size: 18px;
  line-height: 1em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  margin-bottom: 14px; }

ul {
  list-style: none; }

p,
li {
  font-weight: lighter; }

a, a:active, a:visited {
  color: #607890;
  text-decoration: none; }

a:hover {
  color: #036;
  text-decoration: underline; }
