body {
  background-color: transparent;
  font-family: Helvetica, Arial, sans-serif;
  border: none;
  color: #fff; }

h1 {
  font-family: "alternate-gothic-no-1-d";
  font-size: 48px;
  font-weight: normal;
  color: #87b161;
  line-height: 1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  margin-bottom: 14px; }

input[type="text"] {
  height: 22px;
  line-height: 1em;
  width: 270px;
  margin-top: 3px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

input[type="submit"],
input[type="button"] {
  background-color: #87b161;
  border: 1px solid #759954;
  height: 38px;
  font-size: 16px;
  cursor: pointer;
  margin: 0;
  padding: 5px 25px;
  margin-top: 1em;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

label {
  font-size: 16px;
  color: white;
  margin-bottom: 3px;
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.eaFullWidthContent {
  margin-bottom: 10px; }
  .eaFullWidthContent a {
    color: white; }

#Tell_us_about_yourselfDiv,
#OAB_Form_InstructionsDiv {
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75); }

.eaQuestionCheckbox label {
  margin-left: 10px; }

.eaSubmitResetButtonGroup {
  padding-top: 20px !important; }

.eaMessageSubject {
  width: 25%; }

.eaResetButton {
  display: none; }

.eaMessageSignoff {
  display: none; }

#Message_PersonalizationDiv span {
  width: 100%; }

#Message_PersonalizationDiv .eaLabelSpacer {
  display: none; }

.eaMessageContentContainer {
  width: 30%; }
