/* layout */
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto; }

#header {
  height: 100px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #fff; }
  #header > div {
    position: relative; }

#body {
  background: #25444f url("../images/bg_bodyStripes.jpg") top center repeat-x; }
  .home #body {
    background: url("../images/bg_bodyStripes.jpg") top center repeat-x; }
    .home #body > div {
      background: url("../images/bg_bodyHome.jpg") top center no-repeat; }
  #body > div > div {
    background: url("../images/bg_headerShadow.png") top center no-repeat;
    padding: 100px 0 0 0; }
    #body > div > div .container {
      position: relative; }

#comp {
  padding: 0 0 30px 0; }

#bottom {
  padding: 20px 0;
  border-top: 1px solid #5e8798;
  border-bottom: 1px solid #5e8798; }

#footer {
  text-align: center; }

#copyright {
  background: url("../images/bg_copyrightShadow.png") top center no-repeat;
  text-align: none;
  margin-top: -10px; }
  #copyright > div {
    padding: 35px 0 25px;
    font-size: 10px; }
    #copyright > div span,
    #copyright > div a {
      color: #1b3757; }
    #copyright > div a:hover {
      color: #87b161;
      text-decoration: none; }
