/* @group modules */
/* @group hmenu */
.moduletable_hmenu > ul {
  margin: 0;
  padding: 0; }

.moduletable_hmenu > ul > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  padding: 0 5px; }

.moduletable_hmenu.primary {
  float: right;
  font-size: 26px;
  font-family: "alternate-gothic-no-1-d";
  color: #fff;
  line-height: 1em; }
  .moduletable_hmenu.primary ul li {
    padding: 0px 0 0px 18px; }
    .moduletable_hmenu.primary ul li:hover {
      background: url("../images/menu_rollover.png") no-repeat;
      background-position: 0px 0px; }
      .moduletable_hmenu.primary ul li:hover a {
        background: url("../images/menu_rollover.png") no-repeat;
        background-position: 100% bottom;
        color: #fff;
        text-decoration: none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.42); }
  .moduletable_hmenu.primary ul a {
    color: #87b161;
    display: block;
    padding: 33px 18px 17px 0;
    text-shadow: 1px 1px 1px white; }

.moduletable_hmenu.secondary {
  padding: 40px 0;
  font-size: 10px;
  line-height: 10px; }
  .moduletable_hmenu.secondary ul li {
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    padding: 0 10px 2px; }
    .moduletable_hmenu.secondary ul li:first-child {
      border: none; }
    .moduletable_hmenu.secondary ul li a {
      color: rgba(255, 255, 255, 0.7); }
      .moduletable_hmenu.secondary ul li a:hover {
        color: rgba(135, 177, 97, 0.7);
        text-decoration: none; }
