/* @group modules */
.moduletable.logo {
  float: left;
  height: 103px; }

.moduletable.join {
  background: url("../images/bg_joinHeader.png") top center no-repeat;
  position: absolute;
  top: 101px;
  left: -130px;
  width: 633px;
  height: 216px;
  text-transform: uppercase; }
  .moduletable.join a {
    font-family: "alternate-gothic-no-1-d";
    font-size: 28px;
    color: #1b3757;
    line-height: 55px;
    padding: 0 0 0 158px;
    vertical-align: middle;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.42); }
    .moduletable.join a:hover {
      color: #fff;
      text-decoration: none;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.42); }

#bottom .moduletable {
  width: 31.914893617%;
  padding-left: 2.127659574%;
  position: relative;
  float: left; }
  #bottom .moduletable:first-child {
    padding-left: 0; }
  #bottom .moduletable img {
    position: relative;
    left: -60px; }
  #bottom .moduletable .testimonials img {
    top: -5px; }
  #bottom .moduletable .message img {
    top: -8px; }
  #bottom .moduletable p {
    position: absolute;
    top: 45px;
    left: 170px; }
    #bottom .moduletable p a {
      font-family: "alternate-gothic-no-1-d";
      font-size: 26px;
      color: #87b161;
      text-shadow: 1px 1px 1px black; }
      #bottom .moduletable p a:hover {
        color: #fff;
        text-decoration: none; }
    .ie7 #bottom .moduletable p {
      top: 60px; }
