@import "_variables";
@import "_mixins";

/* layout */

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

#header {
	height: 100px;
	background-color: #fff;
	border-bottom: 1px solid #fff;
	
	> div {position: relative;}
}

#body {
	background: $teal url('../images/bg_headerShadow.png') top center no-repeat;
	
	> div {
		background: url('../images/bg_bodyStripes.png') top center repeat-x;
		padding: 100px 0 0 0;
	}
}

#bottom {
	padding: 30px 0;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
}

}