@import "_variables";
@import "_mixins";

/* layout */

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

#header {
	height: 100px;
	background-color: $smoke;
	border-bottom: 1px solid #fff;
	
	> div {position: relative;}
}

#body {
	background: url('../images/bg_bodyStripes.jpg') top center repeat-x;
	
	> div {
		background: url('../images/bg_headerShadow.png') top center no-repeat;
		padding: 100px 0 0 0;
	}
}

#comp {
	padding: 0 0 30px 0;
}

#bottom {
	padding: 30px 0;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
}

#footer {
	text-align: center;
}

#copyright {
	background: url('../images/bg_copyrightShadow.png') top center no-repeat;
	text-align: none;
	margin-top: -10px;
	
	> div {
		padding: 35px 0 25px;
		font-size: 10px;
		
		span,
		a {
			color: $navy;
		}
		
		a:hover {
			color: $green;
			text-decoration: none;
		}
	}
}