@import "_variables";
@import "_mixins";

/* @group modules */
.moduletable {}

/* @group hmenu */
.moduletable_hmenu {}

.moduletable_hmenu > ul {
	margin: 0;
	padding: 0;
}

.moduletable_hmenu > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	
	padding: 0 5px;
}

.moduletable_hmenu.primary {
	float: right;
	font-size: 26px;
	font-family: "alternate-gothic-no-1-d";
	color: #fff;
	line-height: 1em;
	
	ul {
		
		li {
			padding: 0px 0 0px 18px;
			&:hover {
				background: url('../images/menu_rollover.png') no-repeat;
				background-position: 0px 0px;
				
				a {
					background: url('../images/menu_rollover.png') no-repeat;
					background-position: 100% bottom;
					color: #fff;
					text-decoration: none;
					text-shadow: 1px 1px 1px rgba(black, .42);
				}
			}
		}
			
		a {
			color: $green;
			display: block;
			padding: 33px 18px 17px 0;
			text-shadow: 1px 1px 1px white;

		}

	}
}

// footer menu

.moduletable_hmenu.secondary {
	padding: 40px 0;
	font-size: 10px;
	line-height: 10px;

	ul {
		
		li {
			border-left: 1px solid rgba(white, .7);
			padding: 0 10px 2px;
			&:first-child {
				border: none;
			}
			
			a {
				color: rgba(white, .7);
				&:hover {
					color: rgba($green, .7);
					text-decoration: none;
				}
			}
		}
	}
}






