@import "_variables";
@import "_mixins";

/* @group modules */
.moduletable {}

.moduletable.logo {
	float: left;
	height: 103px;
}

.moduletable.join {
	background: url('../images/bg_joinHeader.png') top center no-repeat;
	position: absolute;
	top: 101px;
	left: -130px;
	width: 633px;
	height: 216px;
	text-transform: uppercase;
	
	a {
		font-family: "alternate-gothic-no-1-d";
		font-size: 28px;
		color: $navy;
		line-height: 55px;
		padding: 0 0 0 158px;
		vertical-align: middle;
		text-shadow: 1px 1px 0px rgba(white, .42);
		&:hover {
			color: #fff;
			text-decoration: none;
			text-shadow: 1px 1px 1px rgba(black, .42);
		}
	}

}

// bottom mods

.moduletable.bottom {
	width: 31.914893617%;
	padding-left: 2.127659574%;
	position: relative;
	float: left;
	text-decoration: none;
	&:first-child {
		padding-left: 0;
	}
	
	a {
		img {
			position: relative;
			left: -60px;
		}
		
		span {
			position: absolute;
			top: 55px;
			left: 170px;
			font-family: "alternate-gothic-no-1-d";
			font-size: 26px;
			color: $green;
			text-shadow: 1px 1px 1px rgba(black, 1);
		}
		
		&:hover span {
			color: #fff;
			text-decoration: none;
		}
		
		&:hover {
			text-decoration: none;
		}
		
		.ie7 & {
			top: 60px;
		}
	}
	
	.testimonials img {
		top: -5px;
	}
	.message img {
		top: -8px;
	}
}