@import "_variables";
@import "_mixins";

/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: $green; color:#fff; text-shadow: none; }
::selection { background: $green; color:#fff; text-shadow: none; }


.map {
	position: absolute;
	top: 0;
	right: 0;
	
	p {
		margin: 0;
		padding: 0;
		position: relative;
		bottom: 105px;
		right: -170px;
		font-size: 10px;
		width: 265px;
	}
}

div {
	&:hover {
		text-decoration: none;
	}
	.joinButton {
		background: url('../images/button_join.png') top center no-repeat;
		width: 352px;
		height: 127px;
		text-align: center;
		cursor: pointer;
		padding: 22px 0 0 0;
		
		a {
			font-family: "alternate-gothic-no-1-d";
			font-size: 40px;
			text-transform: uppercase;
			line-height: 1.2em;
			color: $navy;
			text-shadow: 1px 1px 0px rgba(white, .42);
			.size-75 {
				font-size: 75px;
			}
			&:hover {
				color: #fff;
				text-decoration: none;
				text-shadow: 1px 1px 1px rgba(black, .42);
			}
		}
	}	
}